@charset "UTF-8";

body {
  font-family: sans-serif;
}

#variables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#variables input[type=text] {
  width: 3.5em;
}

table {
  margin: 20px 0px;
}

td {
  border: 1px solid black;
  padding: 5px;
}

#visualization {
  width: 1000px;
}

#visualization td {
  width: 25%;
}

#visualization .healthy span::after {
  content: "😀"
}

#visualization .sick span::after {
  content: "🤢"
}

#about {
  padding-left: 20px;
  width: 600px;
}